DAY 1 OF LEARNING AI (BECAUSE I HAVE A TEST DAY AFTER TOMORROW)

Video Link: https://www.youtube.com/watch?v=7eh4d6sabA0&t=70s

Video Games Data Set- https://www.kaggle.com/datasets/gregorut/videogamesales

In [2]:
import pandas as pd

#read the file
dataframe= pd.read_csv('vgsales.csv')

#print the entire file
dataframe

dataframe.shape

(16598, 11)

In [4]:
#returns information about the columns in the data set
dataframe.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [5]:
dataframe.values

array([[1, 'Wii Sports', 'Wii', ..., 3.77, 8.46, 82.74],
       [2, 'Super Mario Bros.', 'NES', ..., 6.81, 0.77, 40.24],
       [3, 'Mario Kart Wii', 'Wii', ..., 3.79, 3.31, 35.82],
       ...,
       [16598, 'SCORE International Baja 1000: The Official Game', 'PS2',
        ..., 0.0, 0.0, 0.01],
       [16599, 'Know How 2', 'DS', ..., 0.0, 0.0, 0.01],
       [16600, 'Spirits & Spells', 'GBA', ..., 0.0, 0.0, 0.01]],
      dtype=object)

# MUSIC PYTHON AI

STEP 1: IMPORT DATA

STEP 2: CLEANING OR PREPARING THE DATA
(removing duplicates and null values)

STEP 3: SPLIT DATA
We split the data into two sets: the input set and the output set
When we train a model, we give it some input data. the model then predicts the output set that contains the predictions.

In [10]:
#read the music file
music_data=pd.read_csv("music.csv")
music_data.shape

(18, 3)

In [14]:
X= music_data.drop(columns=['genre'])
#the original music_data set is not altered by the drop command

#prepare a new set with only the genre column
y=music_data['genre']

In [16]:
#this class implements the decision tree classifier
from sklearn.tree import DecisionTreeClassifier

model=DecisionTreeClassifier()

#fit() takes in two arguments, the input set and the output set
model.fit(X,y)

#we are asking are model to make predictions about a 21 year old male and 22 year old female
predictions= model.predict([[21,1],[22,0]])
predictions

array(['HipHop', 'Dance'], dtype=object)

<H1> TESTING THE ACCURACY OF THE MODEL </H1>

WE DIVIDE THE DATASET INTO TESTING DATA AND TRAINING DATA

GENERAL RULE OF THUMB
70-80% data allocated to training
the other 20-30% allocated to testing

In [44]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

#test_size=0.2 indicated we are allocating 20% of our data to testing
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

#X_train and X_test are variables that are input sets for training and testing
#y_train and y_test are variables that are output sets for training and testing

#to train the model, pass only the training data set
model.fit(X_train,y_train)

#X_test contains the input values for testing
predictions= model.predict(X_test)

#to compute the accuracy, we just need to compare the 
#predictions to that of the output set of testing:y_test

#accuracy_score(expected values, actual values)
score=accuracy_score(y_test,predictions)
score

#the output for score may differ everytime you run it, because
#the train_test_split randomly splits the data for training and testing

#the more and clean training data we have, the better is
#our accuracy score

0.25

## MODEL PERSISTENCE

Training data can take some amount of time depending on the size of the data.
Thus everytime we train our model, we will save the data. 
The next time we need to make predictions, we will simply load the model.

In [50]:
# from pandas import pd
# from sklearn.tree import DecisionTreeClassifier
import joblib

# music_data=pd.read_csv("music.csv")
# X= music_data.drop(columns=['genre'])
# y=music_data['genre']
# model=DecisionTreeClassifier()
# model.fit(X,y)

# joblib.dump(model,'music-recommender.joblib')

model= joblib.load('music-recommender.joblib')
predictions= model.predict([[21,1],[22,0]])
predictions

array(['HipHop', 'Dance'], dtype=object)

In [51]:
#visualising the model

from sklearn import tree
tree.export_graphviz(model, out_file='music-recommender.dot', 
                    feature_names=['age','gender'],
                    class_names=sorted(y.unique()),
                    label='all',
                    rounded=True,
                    filled=True)